---
# default "About" page layout
layout: default
---
<div class="container my-4 about-contents">
	
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Longum est enim ad omnia respondere, quae a te dicta sunt. Quae quo sunt excelsiores, eo dant clariora indicia naturae. Tu autem negas fortem esse quemquam posse, qui dolorem malum putet. Te enim iudicem aequum puto, modo quae dicat ille bene noris. <i>Hoc loco tenere se Triarius non potuit.</i> Duo Reges: constructio interrete. Non autem hoc: igitur ne illud quidem. Illud quaero, quid ei, qui in voluptate summum bonum ponat, consentaneum sit dicere. Cur igitur easdem res, inquam, Peripateticis dicentibus verbum nullum est, quod non intellegatur? </p>

<ul>
	<li>Quae hic rei publicae vulnera inponebat, eadem ille sanabat.</li>
	<li>Sic, et quidem diligentius saepiusque ista loquemur inter nos agemusque communiter.</li>
	<li>Res enim se praeclare habebat, et quidem in utraque parte.</li>
	<li>Nam quibus rebus efficiuntur voluptates, eae non sunt in potestate sapientis.</li>
	<li>Non quam nostram quidem, inquit Pomponius iocans;</li>
	<li>Res enim fortasse verae, certe graves, non ita tractantur, ut debent, sed aliquanto minutius.</li>
</ul>


<p>Idemque diviserunt naturam hominis in animum et corpus. Cupiditates non Epicuri divisione finiebat, sed sua satietate. Solum praeterea formosum, solum liberum, solum civem, stultost; Intellegi quidem, ut propter aliam quampiam rem, verbi gratia propter voluptatem, nos amemus; Odium autem et invidiam facile vitabis. Neque solum ea communia, verum etiam paria esse dixerunt. Quo modo autem optimum, si bonum praeterea nullum est? <mark>Nihil opus est exemplis hoc facere longius.</mark> Quod autem principium officii quaerunt, melius quam Pyrrho; Ita cum ea volunt retinere, quae superiori sententiae conveniunt, in Aristonem incidunt; Sin dicit obscurari quaedam nec apparere, quia valde parva sint, nos quoque concedimus; Re mihi non aeque satisfacit, et quidem locis pluribus. </p>

<p>Gracchum patrem non beatiorem fuisse quam fillum, cum alter stabilire rem publicam studuerit, alter evertere. Et ille ridens: Video, inquit, quid agas; <b>Et ille ridens: Video, inquit, quid agas;</b> An potest cupiditas finiri? Est autem a te semper dictum nec gaudere quemquam nisi propter corpus nec dolere. </p> 
</div>

{% if page.credits == true %}{% include cb/credits.html %}{% endif %}
